/*
1. Odd rows with white background color;
2. ListView: when mouse over an item, highlight with a blue shade;
3. ListView: when an item is selected, paint it with a gradient;
4. ListView: when focus is lost from ListView, selected item should be painted with gradient;
5. ListView: all items will start with text-fill black. But on mouse over and/or selected it will change to white.
*/

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: #00b4c1;
    -fx-text-fill: white; /* 5 */
}
.list-cell {
  -fx-text-fill: black; /* 5 */
  -fx-cell-size: 100;
  -fx-background-color: #eaeaea;
  -fx-text-fill:#00b4c1;
  -fx-font-weight:bold;
   -fx-padding: 20px;
}
.list-cell:odd {
 -fx-background-color: white; /* 1 */
 -fx-background-color: #eaeaea;
 -fx-text-fill:#00b4c1;
 }
/*
.list-cell:even { -fx-background-color:#00b4c1; /* for information */ }
.list-cell:filled:hover {
    -fx-background-color: white; /* 2 */
    -fx-text-fill:#00b4c1; /* 5 */
}

#selectButton{
/* -fx-background-color:linear-gradient(orange, magenta);*/
    -fx-background-color:#00b4c1;
    -fx-text-base-color:white;
    -fx-font-weight:bold;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #00b4c1;
    -fx-background-radius: 5em;
}